.register__container {
  height: calc(100% - 60px);
  background-image: url("../../../public/Images/login2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}
.title__register {
  margin-bottom: 3rem;
}
.label__register {
  align-self: start;
}
