.login__container {
  height: calc(100% - 60px);
  background-image: url("../../../public/Images/login1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  background-position:center;
}

.label__login {
  align-self: start;
}
