.cardsession__container {
  margin: 0.5rem;
  width: 400px;
  height: 100px;
}
p {
  color: #000000;
}

.cardsession__body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.div__difficultyLevel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.progress {
  width: 200px;
  align-self: center;
}

.card-text {
  margin-bottom: 5px;
}
